# compiled things
*.mexa64
*.o
*.d
test/bin
test/obj
test/extobj

# program output
*.png
*.eps
simulations/*test
simulations/*/*.mat
simulations/*/*.csv
simulations/*/formatted
*.dat
*.csv

# IDE things
.clangd
.vscode
compile_commands.json
.autotools
*.cproject
*.project

# Other unrelated things
*.Rhistory
