# compiled things
*.mexa64
*.mexw64
*.o
*.d
test/bin
test/obj
test/extobj
mtwister/*.obj
mtwister/*.o
atom_ray_tracking_library/*.o
atom_ray_tracking_library/*.obj
bin/*.mexw64

# program output
*.png
*.eps
simulations/*test
simulations/*/*.mat
simulations/*/*.txt
simulations/*/*.csv
simulations/*/formatted
simulations/*
*.dat
*.csv

# IDE things
.clangd
.vscode
compile_commands.json
.autotools
*.cproject
*.project

# Matlab stuff
*.asv
*.m~

# Other unrelated things
*.Rhistory
*.zip
